.column{
    width: 100%;
    height: 80%;
    border:inset;
    background-color: #1c1c1e;
    border-radius: 5%;
}
.title{
    width: 100%;
    margin: 4%;
}
.plusBtn{
 display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: flex-start;
    margin: var(--ds-space-0, 0);
    padding: var(--ds-space-075, 6px) var(--ds-space-150, 12px) var(--ds-space-075, 6px) var(--ds-space-100, 8px);
    border-radius: var(--ds-radius-large, 8px);
    background-color: transparent;
    text-decoration: none;
    -webkit-user-select: none;
    user-select: none;
 &:hover {
         background-color: #79808b;
          box-shadow: 0 12px 25px rgba(0,0,0,0.12);
        }

}