.articlesPage {
  display: flex;


  &__sidebar {
    width: 16rem; 

    color: inherit;
  }

  &__content {
    flex: 1;
    padding: 1.5rem;
    color: inherit;

    h1 {
      font-size: 1.5rem; 
      font-weight: 700; 
      margin-bottom: 1rem; 
    }

    &__grid {
      display: grid;
      grid-template-columns: 1fr;
      gap: 1.5rem; 

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr); 
      }
      @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr); 
      }
    }

    &__card {
      padding: 1rem;
      border-radius: 0.5rem; 
      cursor: pointer;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1); 
      border: 2px solid #fef3c7; 
      transition: all 0.3s;

      &:hover {
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2); 
      }

      h2 {
        font-size: 1.125rem; 
        font-weight: 600; 
      }

      p {
        font-size: 0.875rem;
        margin-top: 0.5rem; 
      }
    }
  }
}
