.addTaskPage {
  display: flex;
  flex-direction: column;

 
.wrapper{
  margin-left: 15%;
}
  .filters {
    display: flex;
    gap: 0.75rem;
    margin-bottom: 1.5rem;
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);

    input,
    select {
      border: 1px solid #d1d5db;
      border-radius: 0.5rem;
      padding: 0.5rem 0.75rem;
      outline: none;

      &:focus {
        box-shadow: 0 0 0 2px #3b82f6;
      }
    }

    input {
      width: 24rem;
    }
  }

  .addButton {
    position: fixed;
    bottom: 1.5rem;
    right: 1.5rem;
    width: 3.5rem;
    height: 3.5rem;
    
  
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 1.875rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background-color: #1e40af;
    }
  }

  .taskList {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;

    gap: 1rem;
  }
}

.taskCard {
  display: flex;
   flex: 1 1 20%; // 1 — grow, 1 — shrink, 250px — базовая ширина
  min-width: 20%;
  border:inset;
  max-width: 25%; 
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.25rem;
  border: 1px solid #e5e7eb;
  border-radius: 1rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.2s;

  &:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .taskHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
    }

    select {
      border: 1px solid #d1d5db;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 0.875rem;
    }
  }

  .taskDeadline {
    font-size: 0.875rem;
    color: #6b7280;
  }

  .taskActions {
    display: flex;
    gap: 0.75rem;

    button {
      padding: 0.5rem 1rem;
      border-radius: 0.5rem;
      font-size: 0.875rem;
      color: white;
      cursor: pointer;
      transition: background 0.2s;

      &.delete {
      background-color: #b91c1c;

        &:hover {
          background-color: #b91c1c;
        }
      }

      &.edit {
        background-color: #2563eb;

        &:hover {
          background-color: #1d4ed8;
        }
      }
    }
  }

  .editForm {
    flex: 1;
    border-left: 1px solid #e5e7eb;
    padding-left: 1.5rem;
  }
}
