

.wrapper {
 width: 100%;
justify-content: center;
 display: flex;
height: 100%;
align-items: center;
   background-color: var(--bg-color);
  color: var(--text-color);
}

.form{ padding: 2rem;  border-radius: 12px;
  border: solid;
  width: 30%;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.Sidabar{
  position: fixed;
  left: 0&;
}
.title {
  font-size: 1.8rem;
  margin-bottom: 1.5rem;
  text-align: center;
}

.input,
.textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.textarea {
  min-height: 100px;
  resize: vertical;
}

.button {
  width: 100%;
  padding: 0.75rem;
  background-color: #007bff;

  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 1rem;
  text-align: center;
}
