.tech-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ccc; 
  height: 20%;
  border-radius: 8px; 
  padding: 8px 12px;
  width: 17%;
  cursor: pointer;
  transition: all 0.2s;

  &.active {
    background-color: #2563eb !important;
    border-color: #2563eb !important;
   
  }

  &:hover {
    opacity: 0.8;
  }
}